{# https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Getting_started#anatomy_of_an_html_document #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Advent Friends {{year}}</title>
    </head>
    <body>
        <p>Hi {{recipient_name}},</p>

        <p>{{content}}</p>

        <p>--Bryan</p>

        <p>P.S. if you wish to opt-out this year for any reason, click <a href="{{link}}" target="_blank">here</a> or copy and paste this URL in address bar of your browser: <pre>{{link}}</pre></p>
    </body>
</html>