{# https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Getting_started#anatomy_of_an_html_document #}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Advent Friends {{year}}</title>
    </head>
    <body>
        <p>Hi {{recipient_name}},</p>

        <p>{{content}}</p>

        <p>{{sender_name}}</p>

        <p>P.S. If you wish to opt-out this year, either click <a href="{{link}}" target="_blank">here</a> or copy and paste the URL below into the address bar of your browser and follow the instructions.</p>

        <pre>{{link}}</pre>
    </body>
</html>